<?xml version="1.0"?>
<config> 
	<modules>
        <Tejar_CustomAdminTheme>
            <version>0.0.1</version>
        </Tejar_CustomAdminTheme>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>tejar_admin</default>
                </theme>
            </design>
        </admin>
	</stores>
</config>
