<?xml version="1.0"?>
<config>
    <modules>
        <AdjustWare_Cartalert>
            <version>3.8.2</version>
        </AdjustWare_Cartalert>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adjustware_adjcartalert after="Mage_Adminhtml">AdjustWare_Cartalert_Adminhtml</adjustware_adjcartalert>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <aitsys>
        <events>
            <aitoc_module_save_data_after>
                <observers>
                    <aitshownotification>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>aitShowNotification</method>
                    </aitshownotification>
                </observers>
            </aitoc_module_save_data_after>
        </events>
    </aitsys>
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <aitnotificationstatistic>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>aitNotificationStatistic</method>
                    </aitnotificationstatistic>
                </observers>
            </admin_session_user_login_success>
        </events>
        <menu>
            <newsletter>
                <children>
                    <adjcartalert translate="title" module="adjcartalert">
                        <title>Abandoned Carts Alerts</title>
                        <sort_order>100</sort_order>
                        <children>
                            <alerts translate="title" module="adjcartalert">
                                <title>Pending Alerts</title>
                                <action>adminhtml/cartalert_cartalert</action>
                            </alerts>
                            <history translate="title" module="adjcartalert">
                                <title>History</title>
                                <action>adminhtml/cartalert_history</action>
                            </history>
                            <quotestat translate="title" module="adjcartalert">
                                <title>Abandoned Carts Statistic</title>
                                <action>adminhtml/cartalert_quotestat</action>
                            </quotestat>
                            <dailystat translate="title" module="adjcartalert">
                                <title>Daily Statistic</title>
                                <action>adminhtml/cartalert_dailystat</action>
                            </dailystat>
                            <stoplist translate="title" module="adjcartalert">
                                <title>Stoplist</title>
                                <action>adminhtml/cartalert_stoplist</action>
                            </stoplist>
                        </children>
                    </adjcartalert>
                </children>
            </newsletter>
        </menu>

        <acl>
            <resources>
                <admin>
                    <children>
                        <newsletter>
                            <children>
                                <adjcartalert translate="title">
                                    <title>Abandoned Carts Alerts</title>
                                    <sort_order>100</sort_order>
                                    <children>
                                        <alerts translate="title" module="adjcartalert">
                                            <title>Pending Alerts</title>
                                        </alerts>
                                        <history translate="title" module="adjcartalert">
                                            <title>History</title>
                                        </history>
                                        <quotestat translate="title" module="adjcartalert">
                                            <title>Abandoned Carts Statistic</title>
                                        </quotestat>
                                        <dailystat translate="title" module="adjcartalert">
                                            <title>Daily Statistic</title>
                                        </dailystat>
                                        <stoplist translate="title" module="adjcartalert">
                                            <title>Stoplist</title>
                                        </stoplist>
                                    </children>
                                </adjcartalert>
                            </children>
                        </newsletter>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <adjcartalert>
                    <files>
                        <default>AdjustWare_Cartalert.csv</default>
                    </files>
                </adjcartalert>
            </modules>
        </translate>

        <layout>
            <updates>
                <AdjustWare_Cartalert>
                    <file>adjcartalert.xml</file>
                </AdjustWare_Cartalert>
            </updates>
        </layout>
    </adminhtml>  
    <frontend>
        <routers>
            <adjcartalert>
                <use>standard</use>
                <args>
                    <module>AdjustWare_Cartalert</module>
                    <frontName>alerts</frontName>
                </args>
            </adjcartalert>
        </routers> 
        <layout>
            <updates>
                <adjcartalert module="AdjustWare_Cartalert">
                    <file>adjcartalert.xml</file>
                </adjcartalert>
            </updates>
        </layout>        
    </frontend> 
    <global>
        <models>
            <adjcartalert>
                <class>AdjustWare_Cartalert_Model</class>
                <resourceModel>adjcartalert_mysql4</resourceModel>
            </adjcartalert>
            <adjcartalert_mysql4>
                <class>AdjustWare_Cartalert_Model_Mysql4</class>
                <entities>
                    <cartalert>
                        <table>adjcartalert</table>
                    </cartalert>
                    <history>
                        <table>adjcartalert_history</table>
                    </history>
                    <quotestat>
                        <table>adjcartalert_quotestat</table>
                    </quotestat>
                    <dailystat>
                        <table>adjcartalert_dailystat</table>
                    </dailystat>
                    <stoplist>
                        <table>adjcartalert_stoplist</table>
                    </stoplist>
				</entities>
            </adjcartalert_mysql4>
            <core>
                <rewrite>
                    <email_template>AdjustWare_Cartalert_Model_Rewrite_CoreEmailTemplate</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <adjcartalert_setup>
                <setup>
                    <module>AdjustWare_Cartalert</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adjcartalert_setup>
            <adjcartalert_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adjcartalert_write>
            <adjcartalert_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adjcartalert_read>
        </resources>
        <blocks>
            <adjcartalert>
                <class>AdjustWare_Cartalert_Block</class>
            </adjcartalert>

            <checkout>
                <rewrite>
                    <onepage>AdjustWare_Cartalert_Block_Rewrite_FrontCheckoutOnepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <adjcartalert>
                <class>AdjustWare_Cartalert_Helper</class>
            </adjcartalert>
        </helpers>
        
        <template>
            <email>
               <catalog_adjcartalert_template translate="label" module="adjcartalert">
                   <label>Abandoned Cart: Classic</label>
                   <file>abandoned_cart_alert_classic.html</file>
                   <type>html</type>
               </catalog_adjcartalert_template>
               <catalog_adjcartalert_template2 translate="label" module="adjcartalert">
                   <label>Abandoned Cart: Classic</label>
                   <file>abandoned_cart_alert_classic.html</file>
                   <type>html</type>
               </catalog_adjcartalert_template2>
               <catalog_adjcartalert_template3 translate="label" module="adjcartalert">
                   <label>Abandoned Cart: Classic</label>
                   <file>abandoned_cart_alert_classic.html</file>
                   <type>html</type>
               </catalog_adjcartalert_template3>
               <catalog_adjcartalert_order_template translate="label" module="adjcartalert">
                   <label>Abandoned Cart (order): The First Follow Up</label>
                   <file>abandoned_cart_alert_order.html</file>
                   <type>html</type>
               </catalog_adjcartalert_order_template>
               <catalog_adjcartalert_order_template2 translate="label" module="adjcartalert">
                   <label>Abandoned Cart (order): The Second Follow Up</label>
                   <file>abandoned_cart_alert2_order.html</file>
                   <type>html</type>
               </catalog_adjcartalert_order_template2>
               <catalog_adjcartalert_order_template3 translate="label" module="adjcartalert">
                   <label>Abandoned Cart (order): The Third Follow Up</label>
                   <file>abandoned_cart_alert3_order.html</file>
                   <type>html</type>
               </catalog_adjcartalert_order_template3>
            </email>
        </template>         
        <events>       
            <checkout_type_onepage_save_order_after>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>processOrderCreated</method>
                    </adjcartalert>
                </observers>
            </checkout_type_onepage_save_order_after>

            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>processOrderCreated</method>
                    </adjcartalert>
                </observers>
            </checkout_type_multishipping_create_orders_single> 
            <sales_quote_add_item>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>updateAlertsStatus</method>
                    </adjcartalert>
                </observers>
            </sales_quote_add_item> 
            <sales_quote_remove_item>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/observer</class>
                        <method>updateAlertsStatus</method>
                    </adjcartalert>
                </observers>
            </sales_quote_remove_item> 
        
		<sales_order_place_after>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/quotestat</class>
                        <method>onOrderCreate</method>
                    </adjcartalert>
                </observers>		
		</sales_order_place_after>
		<adjustware_cartalert_alert_generate_after>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/quotestat</class>
                        <method>onAlertGenerate</method>
                    </adjcartalert>
                </observers>		
		</adjustware_cartalert_alert_generate_after>
		<adjustware_cartalert_alert_send_after>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/quotestat</class>
                        <method>onAlertSend</method>
                    </adjcartalert>
                </observers>		
		</adjustware_cartalert_alert_send_after>
		<adjustware_cartalert_cart_recovery>
                <observers>
                    <adjcartalert>
                        <type>singleton</type>
                        <class>adjcartalert/quotestat</class>
                        <method>onCartRecovery</method>
                    </adjcartalert>
                </observers>		
		</adjustware_cartalert_cart_recovery>
		</events>          
    </global>

    <crontab>
        <jobs>
            <adjcartalert_create>
                <!-- each 7 minutes -->
                <schedule><cron_expr>*/2 * * * *</cron_expr></schedule>
                <run><model>adjcartalert/observer::createCartalerts</model></run>
            </adjcartalert_create>
			
            <adjcartalert_stat>
                <!-- each 15 minutes -->
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>adjcartalert/observer::runStat</model></run>
            </adjcartalert_stat>			
			
        </jobs> 
    </crontab>
    
    <default>
        <catalog>
            <adjcartalert>
                <sending_enabled>0</sending_enabled>
                <timeout>10</timeout>
                <delay>30</delay>
                <delay2>24</delay2>
                <delay3>72</delay3>
                <identity>general</identity> 
                <template>catalog_adjcartalert_template</template> 
                <template2>catalog_adjcartalert_template2</template2> 
                <template3>catalog_adjcartalert_template3</template3> 
                <stop_after_order>1</stop_after_order> 
                <stop_after_visit>1</stop_after_visit> 
                <coupon_step>none</coupon_step> 
                <coupon_type>by_percent</coupon_type> 
                <coupon_amount>5</coupon_amount> 
                <coupon_days>1</coupon_days> 
                <unsubscribe>0</unsubscribe>
                <timeout_order>24</timeout_order>
                <delay_order>24</delay_order>
                <delay_order2>48</delay_order2>
                <delay_order3>0</delay_order3>
                <order_template>catalog_adjcartalert_order_template</order_template> 
                <order_template2>catalog_adjcartalert_order_template2</order_template2> 
                <order_template3>catalog_adjcartalert_order_template3</order_template3>
                <notification_enabled>1</notification_enabled>
                <cart_recovery_link>?utm_source=aitoc&amp;utm_medium=email&amp;utm_campaign=cart-alert</cart_recovery_link>
            </adjcartalert>  
        </catalog>
    </default>
</config>