<?xml version="1.0"?>
<config> 
	<modules>
        <Tejar_Intensolocal>
            <version>0.0.1</version>
        </Tejar_Intensolocal>
    </modules>
    <global>
		<helpers>
			<itactica_intenso>
				<rewrite>
					<data>Tejar_Intensolocal_Helper_Data</data>
				</rewrite>
			</itactica_intenso>
			<configurableswatches>
                <rewrite>
                    <mediafallback>Tejar_Intensolocal_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
		</helpers>
		 <models>
            <itactica_intenso>
				<rewrite>
					<config_productnamelength>Tejar_Intensolocal_Model_Config_Productnamelength</config_productnamelength>
				</rewrite>
            </itactica_intenso>
        </models>
    </global>
	
</config>