<?xml version="1.0" ?> 
  <config>
    <modules>
      <Tejar_CatalogSearch>
        <version>0.0.1</version> 
      </Tejar_CatalogSearch>
    </modules>
    <global>
		<blocks>
			<catalogsearch>
			  <rewrite>
				<autocomplete>Tejar_CatalogSearch_Block_Autocomplete</autocomplete>
			  </rewrite>
			</catalogsearch>
		</blocks>
	  <!--<blocks>
        <catalogsearch>
          <rewrite>
            <result>Tejar_CatalogSearch_Block_Result</result>
          </rewrite>
        </catalogsearch>
      </blocks>-->
		<models>
			<catalogsearch>
			  <rewrite>
				<query>Tejar_CatalogSearch_Model_Query</query>
			  </rewrite>
			</catalogsearch>
		</models>
		<models>
			<catalogsearch>
				<rewrite>
					<layer>Tejar_CatalogSearch_Model_Layer</layer>
				</rewrite>
			</catalogsearch>
		</models>
		<!--<events>
            <catalog_block_product_list_collection>
                <observers>
                    <tejar_catalogsearch_model_observer>
                        <type>singleton</type>
                        <class>Tejar_CatalogSearch_Model_Observer</class>
                        <method>catalogBlockProductListCollection</method>
                    </tejar_catalogsearch_model_observer>
                </observers>
            </catalog_block_product_list_collection>
       </events> -->
    </global>
  </config>