<?xml version="1.0"?>
<config> 
	<modules>
        <Tejar_Observpricing>
            <version>0.0.1</version>
        </Tejar_Observpricing>
    </modules>
    <global>
		<helpers>
			<tejarobservpricing>
			 <class>Tejar_Observpricing_Helper</class>
			</tejarobservpricing>
		</helpers>
        <models>
            <tejarobservpricing>
                <class>Observpricing_Model</class>
            </tejarobservpricing>
        </models>
		
    </global>
	<frontend>
		<events>
            <catalog_product_get_final_price>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>simpleProductPrice</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </catalog_product_get_final_price>
        </events>
	</frontend>
	<adminhtml>
		<events>
            <catalog_product_prepare_save>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>catalogProductPrepareSave</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>catalogProductSaveAfter</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </catalog_product_save_after>
      
           <!-- <adminhtml_block_html_before>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </adminhtml_block_html_before> 
			
			<catalog_product_massupdate_pricing_before>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>catalogProductMassupdatePricingBefore</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </catalog_product_massupdate_pricing_before>
			-->
			<catalog_product_massupdate_attribute_custom>
                <observers>
                    <tejar_observpricing_model_observer>
                        <type>singleton</type>
                        <class>Tejar_Observpricing_Model_Observer</class>
                        <method>catalogProductMassupdateAttributeCustom</method>
                    </tejar_observpricing_model_observer>
                </observers>
            </catalog_product_massupdate_attribute_custom>  
        </events>
	</adminhtml>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tejarobservpricing before="Mage_Adminhtml">Tejar_Observpricing_Adminhtml</tejarobservpricing>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>